#menu,
#menu ul,
#menu li,
#menu a {
    padding: 0
}
#menu,
#menu ul {
    list-style: none
}
#menu>li>ul>li {
    border-bottom: 1px solid #e7e7e7
}
#menu li,
#menu a {
    position: relative;
    display: block
}
#menu a,
#menu a:hover,
#menu a:focus,
#menu a:active {
    text-decoration: none
}
#menu ul {
    background: rgba(0, 0, 0, 0.3)
}
#menu>li>a {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    padding: 10px 0 10px 15px
}
#menu>li.active>a {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset
}
#menu>li:hover>a {
    background-color: #FFF;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
#menu>li ul {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    border-left-width: 0
}
#menu>li ul a {
    padding: 11px 0 11px 30px;
    font-size: 13px
}
#menu>li ul a:hover {
    background-color: rgba(0, 0, 0, 0.1)
}
#menu.affix {
    position: fixed;
    width: 220px;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch
}
#menu.affix:hover {
    overflow-y: scroll
}


/*@media(min-width :768px) { 
    body: not(.sidebar-left-mini) #menu li.active>ul, #menu.affix li>ul {
        position: relative;
        top: auto!important;
        left: auto!important;
        right: auto!important
    }
    body:not(.sidebar-left-mini) #menu:not(.affix) li.active>ul {
        display: inherit
    }
    #menu li>ul,
    .sidebar-left-mini #menu li>ul {
        position: absolute;
        top: 0;
        left: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-width: 200px;
        z-index: 1;
        background-color: #FFF
    }
    #menu li>ul>li:hover {
        background-color: #b0cfe9;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    #menu:not(.affix) li>ul,
    .sidebar-left-mini #menu:not(.affix) li>ul {
        display: none
    }
    .sidebar-left-mini #menu>li>ul {
        top: 100%
    }
    #menu li>ul>li>ul {
        top: 0
    }
    .side-right #menu li>ul {
        left: auto;
        right: 100%
    }
    #menu:not(.affix) li:hover>ul {
        display: inherit
    }
    .sidebar-left-mini #menu.affix {
        position: relative!important
    }
}

@media(min-width :768px) {
    .sidebar-left-mini #menu>li>a .fa {
        font-size: 18px
    }
    .sidebar-left-mini #menu>li>a .fa.arrow {
        display: none
    }
    .sidebar-left-mini #menu>li>a .link-title {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
        position: absolute;
        left: 100%;
        top: -1px;
        z-index: 1;
        background: #e7e7e7;
        display: none;
        padding: 10px 30px
    }
    .sidebar-left-mini #menu>li:hover>a>.link-title {
        display: block;
        min-width: 200px
    }
    .sidebar-left-mini.side-right #menu>li>a .link-title {
        border-right-width: 0;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        left: auto;
        right: 100%
    }
}
*/
#menu li>ul>li:hover {
    background-color: #b0cfe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}
    
body:not(.sidebar-left-mini) #menu .nav-header {
    padding: 3px 15px!important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.1)
}
#menu .nav-divider {
    height: 1rem;
    margin: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset
}
.sidebar-left-mini #menu .nav-header {
    position: absolute!important;
    overflow: hidden!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    border: 0!important;
    clip: rect(1px, 1px, 1px, 1px)!important
}
#menu .fa.arrow {
    float: right;
    padding-top: 3px;
    margin-right: 15px
}
#menu .fa.arrow:before {
    content: "\f104"
}
#menu .active>a>.fa.arrow:before {
    content: "\f107"
}
