<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{site.name}}</title>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/docs.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/style.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/images/favicon.ico" rel="shortcut icon" >

  <link href="{{site.github.url}}/assets/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/bootstrap-timepicker.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/bootstrapValidator.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/awesome-bootstrap-checkbox.css" rel="stylesheet">

  <!--Components -->
  <link href="{{site.github.url}}/assets/css/components/temporal.css" rel="stylesheet">
  <link href="{{site.github.url}}/assets/css/components/bar.css" rel="stylesheet">

  <!--Application Theme -->
  <link href="{{site.github.url}}/assets/css/application.css" rel="stylesheet">

  <style>
    #content {
      background:{{site.header.color1}};
      background:linear-gradient(135deg, {{site.header.color1}}, {{site.header.color2}});
    }
  </style>

  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>
  <script src="{{site.github.url}}/assets/js/docs.min.js"></script>
</head>

<body>
  <!-- Main navigation
  =========================================== -->
  <header class="navbar navbar-static-top bs-docs-nav" id="top">
    <div class="container">
      <div class="navbar-header" role="banner">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo-navbar" href="{{site.github.url}}/index.html">
          <img src="{{site.github.url}}/assets/images/logo.png" />
        </a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
        {% assign sorted_pages = site.pages | sort:"name" %}
        {% for p in sorted_pages %}
          {% if p.isHome != true and p.hide != true and p.title !=  %}
          <li {% if page.title == p.title %}class="active"{% endif %}>
            <a href="{{site.github.url}}{{p.url}}">{{p.title}}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
        <!--
        <ul class="nav navbar-nav navbar-right">
        {% for p in site.headerLinks %}
          <li>
            <a href="{{p.url}}">{{p.title}}</a>
          </li>
        {% endfor %}
        </ul>
        -->
      </nav>
    </div>
  </header>


  <!-- Header
  =========================================== -->
  {% if page.isHome %}
  <div class="bs-docs-masthead" id="content">
    <div class="container">
      <h1 class="home-title">{{site.name}}</h1>
      <p class="lead">{{page.description}}</p>
      <p class="version">v{{site.version}}</p>
      <!--
      <p class="lead">
        <a href="{{site.downloadUrl}}" class="btn btn-outline-inverse btn-lg" target="_blank">Download</a>
      </p>
      -->
    </div>
  </div>

  {% else %}
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>{{page.title}}</h1>
      <p>{{page.description}}</p>
    </div>
  </div>
  {% endif %}

  <div class="container bs-docs-container" style="min-height: 16em;">
    <div class="row">
      <!-- Content
      =========================================== -->
      <div class="col-md-9" role="main">
        {{content}}
      </div>

      <!-- Page navigation
      =========================================== -->
      <div class="col-md-3" role="complementary">
        <div class="bs-docs-sidebar hidden-print">
          <ul class="nav bs-docs-sidenav">
          </ul>
          <a class="back-to-top" href="#top">
            <i class="glyphicon glyphicon-chevron-up"></i> Back to top
          </a>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer
  =========================================== -->
  <footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
      <p>
        <b>Made by MVFor Developer team</b>
      </p>

      <ul class="bs-docs-footer-links muted">
        <li>Currently v{{site.version}}</li>
      {% for l in site.footerLinks %}
        <li>&middot;</li>
       <!-- <li><a href="{{l.url}}">{{l.title}}</a></li> -->
      {% endfor %}
      </ul>
    </div>
  </footer>


  <!-- Async scripts
  =========================================== -->
  {% if site.header.trianglify %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>
  <script>trianglify('{{site.header.color1}}', '{{site.header.color2}}');</script>
  {% endif %}

  <!-- Components -->
  <script src="{{site.github.url}}/assets/js/lib/jquery.mask.min.js"></script>
  <script src="{{site.github.url}}/assets/js/lib/bootstrap-datepicker.min.js"></script>
  <script src="{{site.github.url}}/assets/js/lib/locales/bootstrap-datepicker.pt-BR.min.js"></script>
  <script src="{{site.github.url}}/assets/js/lib/bootstrap-timepicker.min.js"></script>
  <script src="{{site.github.url}}/assets/js/lib/bootstrap-confirmation.min.js"></script>
  <script src="{{site.github.url}}/assets/js/lib/typeahead.bundle.min.js"></script>
  

  <script src="{{site.github.url}}/assets/js/lib/bootstrapValidator.min.js"></script>
  <script src="{{site.github.url}}/assets/js/lib/language/pt_BR.js"></script>
        
  <script src="{{site.github.url}}/assets/js/components/input.js"></script>
  <script src="{{site.github.url}}/assets/js/components/temporal.js"></script>
  <script src="{{site.github.url}}/assets/js/components/message.js"></script>
  <script src="{{site.github.url}}/assets/js/components/autocomplete.js"></script>

  <script type="text/javascript">
    jQuery(document).ready(function(){
       initAutoComplete();
       initBtnConfirmation();
       fncUppercase();
       numbersOnly();
       formatMask();
       initTimeField(); 
       initDateField();
       initDateFieldPeriodo();
       initNumberField();
       $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</body>
</html>